
h1{
    font-family: 'Black Ops One', cursive;
    font-size: 4rem;
    font-weight: 500;
    margin : 1% 0 0 0;
    color: #c37714;
}
h2{
    margin: 0;
    color: rgb(217, 206, 239);
    font-family: Helvetica, sans-serif;
    margin-bottom: 0;
}
h3{
    font-size: 1.8rem;
    color: gold;
    position: absolute;
    top: 14.6%;
    right: 20%;
    margin: 0;
}

p{
    font-size: 2rem;
    margin-bottom: 0;
}

body{
    text-align: center;
    background-color: #30054a;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    margin: 0;
    height: 80vh;
    overflow: hidden;
    background-image: url('6506475.png');
   
    height: 100vh;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#answer{
    margin-bottom: 0;
    margin-top: 2%;
    font-weight: 900;
}
.dummy{
    display: none;
}

/* .spn{
    font-size: 3rem;
    
} */

.main-container{
    display: inline-block;
    margin-top: 0;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    left: 27%;
    top: 10%;

    height: 320px;
    width: 470px;
    margin: 0;

}
.Man{
  
    display: flex;
    justify-content: center;
    
    margin: auto;
    margin-top: 3%;
    padding-left: 5%;

}

.man-image{
    stroke: rgb(0, 0, 0);
    stroke-width: 2.1%;
    fill: #30054a;
}

line{
    stroke: black;
    
    stroke-width: 2.2%;
}
.rope{
    stroke-width: 1%;
}

#keyboard{
    margin: 0;
    width: 100%
}

#img1,#img2,#img3,#img4,#img5,#img6{
    display: none;
}

.btn{
    width: 50px;
    height: 35px;
    background-color: rgb(74, 74, 74);
    border: 3px solid black;
    border-radius: 5px;
    margin: 6px 2px 0;
    color: black;
    font-size: 1.22rem;
    font-family: Helvetica, sans-serif;
    font-weight: 600;

}

.btn:hover{
    background-color: rgb(104, 104, 104);
}

.pressed{
    background-color: rgb(37, 33, 33);
    /* box-shadow: 0 0 5px white; */
}

.pressed-effects{
    box-shadow: 0 0 5px white;
}

.fpressed{
    background-color: rgb(27, 27, 27);
}

@media (max-width: 840px) {

    h3{
        position: relative;
        right: 0%;
        top : 1.5%;
         text-align: center;
         font-size: 1.6rem;
     }

    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 1.4rem;
    }
   
    .btn{
        width: 44px;
        height: 30px;
       font-size: 1.18rem;

    }
}

@media (max-width: 540px) {

    h1{
        font-size: 2.4rem;
    }

    h2{
        font-size: 1.3rem;
    }
    h3{
        font-size: 1.3rem;
    }
    .btn{
        width: 38px;
        height: 26px;
        font-size: 1.13rem;
    }
}

@media (max-width: 480px) {

    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 1.15rem;
    }
    h3{
        font-size: 1.15rem;
    }
    .btn{
        width: 30px;
        height: 27px;
        font-size: 1rem;
    }
    #answer{
       color: gold;
    }
}


